.tns-nav {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  > button {
    margin: 0 2px;
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 50%;
    padding: 0;
    background-color: $color-primary;
    &.tns-nav-active {
      background-color: $color-secondary;
    }
  }
}

.tns-outer {
  margin: 10px 0;
}
.wrapper-playgame {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;

  > .button-playgame {
    font-family: $font-secondary;
    color: $color-primary;
    font-size: 20px;
    width: 200px;
    position: absolute;
    top: 20%;
    background: none;
    border: none;
  }
  > .background-playgame {
    width: 196px;
  }
  &:active > .background-playgame {
    width: 180px;
  }
  &:active > .button-playgame {
    font-size: 18px;
  }
}
