.wrapper-eggs {
  display: flex;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  &::after {
    content: "";
    width: 50%;
    margin-left: 10px;
    border-bottom: 3px solid #fff;
    border-radius: 2px;
    transform: translateY(-35%);
  }
  &::before {
    content: "";
    width: 50%;
    margin-right: 10px;
    border-bottom: 3px solid #fff;
    border-radius: 2px;
    transform: translateY(-35%);
  }
}
