@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bungee&display=swap");

@import "settings/colors.scss";
@import "settings/fonts.scss";
@import "generic/reset.scss";
@import "components/image-header.scss";
@import "components/container-main.scss";
@import "components/text-help.scss";
@import "components/separator-eggs.scss";
@import "components/carousel.scss";
@import "components/list.scss";
@import "components/footer.scss";
