$bg-color-gradient: linear-gradient(
  180.22deg,
  #7e5002 20.16%,
  #e69405 36.19%,
  #fad121 98.57%
);

$color-primary: #fff;
$color-secondary: #73263d;
$color-tertiary: #3d1132;
$color-quaternary: #050914;
